.blog{
    padding: 40px 0;
    background-color: #ffffff;
}
.blog-heading {
    font-size: 14px;
    font-family: 'inter';
    text-transform: uppercase;
    letter-spacing: 5.5px;
    margin-bottom: 25px;
    color: #000000;
}
.blog h3{
    font-family: dion;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blog .heading-text{
    font-family: dionlight;
    letter-spacing: 1px;
    width: 50%;
    font-size: 14px;
    margin-bottom: 40px;
}
.blog-box {
    display: flex !important;
    flex-direction: column;
    width: 95% !important;
    margin: 0 auto !important;
    overflow: hidden;
}
.blog-box h2 {
    font-family: dionMedium;
    font-size: 19px;
    margin: 20px 0;
    letter-spacing: 1px;
}
.blog-box img{
    width: 100%;
    border-radius: 10px;
}
.blog-box p {
    font-family: 'dionlight';
    font-size: 11px;
    margin: 5px 0px;
    letter-spacing: 1px;
    color: #6D7D7D;
    padding-right: 20px;
}
.blog-box button{
    border: none; */
    background: transparent;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 7px;
    text-align: left;
    margin: 20px;
     width: 57px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    background: transparent;


}
.blog .custom-prev-btn , .blog .custom-next-arrow{
    top: -66px;
}

/* blog Page css */
.blog-details{
    background-color: #F3F3F3;
    padding: 40px 0;
}
.date{
    font-family: LightInter !important;
    margin: 20px 0;
}
.blog-details p{
    font-family: asliInter;
    color: #22222278;
    font-size: 15px;


}
.blog-details .blog-heading {
    font-size: 28px;
    font-family: JuliusSansOne;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: #000000;
    text-align: left;
    margin-top: 24px;
}
.another-content , .single-blog{
    width: 70% !important;
    margin: 0 auto !important;
}
.another-content img , .single-blog img{
    width: 100%;
}

.another-content h2{
    font-size: 23px;
    font-family: asliInter;
    margin: 35px 0 15px;
    color: #565C5F;
}
.another-content p{
    font-family: asliInter;
    color: #22222278;
    font-size: 13px;
}
.another-content .line{
    background-color: #e79c0782;
    height: 1px;
    width: 16%;
    margin-bottom: 30px;
    margin-top: 28px;
}
@media (max-width:520px) {
    .blog-heading {
        font-size: 27px;
        font-family: JuliusSansOne;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 31px;
        color: #000000;
        text-align: left;
        margin-left: 10px;
    }
}