.catalogue-banner{
    background-color: #8F8749;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.catalouge-btn button{
    background-color: #FFFAF1;
    border: 1px solid #E69B00;
    color: #000;
    width: 140px;
    height: 40px;
    margin: 20px 10px ;
    border-radius: 5px;
    font-family: inter;
}
.catalouge-btn button:hover{
    background-color: #E69B00;
    
}
.active-filter{
    background-color: #E69B00 !important;

}
.catalogue-banner img{
    width: 100%;
   } 

   @media (max-width:992px) {
    .catalouge-btn button{
        margin: 10px !important;
    }
    .catalouge-btn{
        padding-top: 20px;
    }
   }

@media (max-width:520px) {
   .catalogue-banner img{
    width: 100%;
   } 
   .catalouge-btn{
    padding-top: 20px ;
   }
   .catalouge-btn button {
    background-color: #FFFAF1;
    border: 1px solid #E69B00;
    color: #000;
    width: 97px;
    height: 27px;
    margin: 5px 6px;
    border-radius: 5px;
    font-family: inter;
    font-size: 12px;
}
.certificate-box .container{
    padding: 0 10px !important;
}
.certificate-box h1, .companies h2 {
    font-family: dion;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 17px;
}
.certification-box p {
    margin: 0 10px;
    font-family: inter;
    font-size: 11px;
    color: #000000be;
    letter-spacing: 0px;
}
.certificate-btn {
    border: none;
    background-color: #FFFCF6;
    height: 61px;
    width: 35%;
    margin: 0 7px;
    box-shadow: 0px 2px 3px #a19b9b8f;
    border-radius: 4px;
    font-family: inter;
    color: #000000be;
    margin-bottom: 10px;
    font-size: 12px;
}
.certificate-btn img{
    display: none ;
}
.company-logo{
    height: 145px;
}
}