.certificate img{
    height: 425px;
    border: 10px solid #FEEDCA;
    margin: 30px 0 60px;
}
.companies{
    padding: 50px  0;
}

.companies{
    margin: -30px 0 50px;
}
.company-box{
    margin: auto;
    padding: 40px 0;
    width: 90%;
}
.company-logo{

    margin: 20px 0;
border: 1px solid #000;
padding: 20px 40px;
    
}
.company-logo img{
    height: 120px;
    width: 166px;
}

.certification-box {
    border: 1px solid #00000069;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
    height: 60px;
}
.certification-box p {
    margin: 0 15px;
    font-family: 'dion';
    font-size: 20px;
    color: #000;
    letter-spacing: 1.5px;
}
.certification-box button{
    height: 100%;
    width: 121px;
    border: none;
    background: #000;
    color: #fff;
    font-family: 'dion';
}
.certificate-box h1 , .companies h2{
    font-family: dion;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    margin-bottom: 40px;
}
.certification-box img{
    position: fixed;
    top: 100px;
    right: 40%;
    height: 350px;
    width: 250px;
}
.display-certificate{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #0000002b;
    left: 0;

}
.certificate-modal .modal-header{
    border-bottom:  0 !important;
}
.certificate-modal .modal-body {
    position: relative;
    right: 146px;
    top: 40px;
}
.certificate-modal .certificate-cancel-btn svg{
    height: 20px;
    width: 20px;
}
.certificate-modal .certificate-cancel-btn{
        position: relative;
        left: 375px;
        border: none;
        background: #fff;
        padding: 5px 8px 6px;
        top: 22px;
        z-index: 99998;
        border-radius: 50%;
}