.contact-us h1{
    font-family: 'dion';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 45px;
}
.contact-us{
    padding-bottom: 40px;
}
.contact-us p{
    font-family: 'Inter';
    color: #00000094;
    font-size: 17px;
    margin-bottom: 30px;
}
.contact-box{
    margin: 40px;
    box-shadow: 1px 1px 7px #a2a2a270;
    padding: 45px 60px;
    border: 1px solid #d2d2d2;
    position: relative;
    height: 600px;
}
.contact-box img{
    position: absolute;
    height: 80%;
    top: 60px;
    left: 41px;
}
.contact-info{
    position: absolute;
    top: 80px;
    z-index: 2;
    color: #fff;
}
.contact-info p , .contact-info strong {
    color: #fff;
    margin: 46px 10px;
    margin-right: 0px;
}
.contact-info strong{
    color: #FFBA3A;
}
.add-para{
    font-family: 'LightInter';
    margin: 0;
    margin-left: 50px;
    width: 30%;
}
.contact-info h2{
    margin: 10px;
    font-size: 27px;
    font-family: 'Inter';
    font-weight: 700;
}
.contact-box .contact-info  img{
    position: unset;
    height: 20px;
    margin-right: 20px;
}
