.footer {
    background-color: #fff;
    padding: 80px 0;
}

.footer .logo .img {
    height: 42px;
}

.footer .logo img {
    height: 43px;

}

.footer h3 a {
    font-size: 17px;
    color: #00000078;
    text-decoration: none;
    font-family: 'inter';
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer h2 {
    font-family: inter;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 20px;
}

.footer p {
    font-family: LightInter;
    color: #00000088;
    padding: 0 10px;
}

.footer h5 {
    margin-top: 40px;
    font-size: 16px;
    font-family: inter;
    color: #000000cb;
}

.footer-bottom {
    background-color: #D0D0D0;
    padding: 25px;
}

.footer-bottom p {
    margin-bottom: 0;
    font-family: inter;
}

.footer ul li {
    list-style: none;
    margin: 5px 0;
}

.footer ul {
    padding: 0;
    margin-top: 10px;
}
.footer ul li a{
    font-family: LightInter;
    color: #000000ab;
    text-decoration: none;
}


.footer .line {
    background-color: #000;
    height: 1px;
    width: 26%;
    margin-bottom: 5px;
}

.company-info {
    color: #000000ab !important;
    font-size: 15px;
    text-align: left !important;
    margin-top: 43px !important;
    padding-right: 40px;
}
.vertical-line {
    display: block;
    height: 16px;
    width: 2px;
    background: #000000b3;
    margin-right: 15px;
}

@media (max-width:767px) {
    .resp{
        margin-left: 35px;
    }
}

.pos {
  position: relative;
  width: 100%;
  background: transparent;
  height: 38vh;
}

.crown {
  /* transform: translate(-50%, -50%); */
  z-index: 2;
}

.crown h2 {
  font-family: dion;
  font-size: 16rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #000;
}

.newFooter {
  background-color: #000;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: background-color 0.3s ease;
}

.newFooter h2{
  font-family: "dionlight";
  margin: 20px 20px;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff; /* Default black text */
}
.newFooter p a {
    font-family: asliInter;
    text-transform: lowercase;
    font-size: 20px;
    color: #fff; 
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
  }
  .newFooter p{
    text-align: center;
  }

.newFooter .line {
  width: 100%;
  margin: 20px 0;
  height: 2px;
  background-color: #000; /* Default black line */
}

/* other page footer design  */

.footer-background{
    margin: 0;
    margin-bottom: -200px;
    z-index: 1;
    position: fixed;
    bottom: 200px;
}
.explore {
    /* background-color: #fff; */
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
}
.explore h2{
    font-family: 'dion';
    font-size: 40px;
    letter-spacing: 1px;
}
.explore button {
    background-color: #E69B00;
    height: 56px;
    width: 354px;
    color: #fff;
    border: none;
    font-family: 'Kanit';
    letter-spacing: 1px;
    font-size: 19px;
    margin-top: 30px;
    border-radius: 5px;
}