.navbar{
    padding: 20px 20px !important;
    background-color: #ffffff;
    position: relative;
    transition: top 0.3s;
}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
.navbar-brand img{
    height: 45px !important;
}
.search-product {
    width: 60%;
    border: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    color: #757575;
    border-radius: 3px;
    padding: 0 15px;
    margin: 0px ;
}
.search-product .search-input{
    width: 90%;
    border: none;
    height: 90%;
    color: #757575;
    font-size: 13px;
    margin-bottom: 3px;
}
.search-input:focus{
    border: none !important;
    outline: none !important;
}
.search-btn{
    border: none;
    background: transparent;
}
.search-btn svg{
    font-size: 25px;
    color: #b9b6b6;
    position: relative;
    left: 13px;
    bottom: 1px;
}
.dropdown-toggle::after{
    display: none !important;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    /* font-size: var(--bs-nav-link-font-size); */
    font-weight: var(--bs-nav-link-font-weight);
    /* color: var(--bs-nav-link-color); */
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #888888 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    margin: 0 14px !important;
    font-family: inter;
}
.nav-link svg{
    color: #888888;
    position: relative;
    bottom: 1px;
    left: 2px;
}
.nav-dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .nav-dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }
  .navbar a{
    color: #888888 !important;

  }
  .cart-indecator {
    background-color: #E31B2C;
    font-family: Kanit;
    font-size: 12px;
    position: relative;
    bottom: 29px;
    left: 18px;
    color: #fff;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.dropdown-menu[data-bs-popper] {
    top: 144%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
    border: none;
    box-shadow: 1px 1px 3px #0000009c;
}
.cart-footer{
    border: none !important;
}
/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
  }
  
  /* Create a custom checkmark style */
  .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  
  .custom-checkbox .checkmark {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #0000007d;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s;
}

  
  /* Checked state */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #D99374; /* Change color when checked */
    border-radius: 4px;
    border: none;
  }
  
  /* Checkmark symbol (using ::after) */
  .custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Show the checkmark when the checkbox is checked */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    display: block;
  }
  
  @media (min-width: 992px) {
    .cart .dropdown-menu {
        position: absolute !important;
        width: 535px !important;
        left: -444px !important;
        padding: 0 !important;
        border-radius: 0 !important;
        /* border: none !important; */
        top: 52px !important;
    }
    .cart h3 {
        font-size: 15px;
        padding: 15px 40px;
        font-family: Kanit;
        border-bottom: 1px solid #00000066;
    }
    .cart h4{
        font-size: 14px;
        margin: 0 15px;    
        font-family: Kanit;
    }
    .cart p{
        margin: 0 15px;
        font-size: 13px;
        font-family: Kanit;
        color: #00000074;
    }
    .cart button {
        background: transparent;
        border: 1px solid #00000080;
        font-family: 'LightInter';
        color: #0000009e;
        font-size: 13px;
        padding: 4px 13px;
        border-radius: 3px;
        margin-right: 22px;
    }
    .cart input[type="checkbox"]{
        height: 18px !important;
        width: 18px !important;
        margin: 10px !important;
    }
    .styled-checkbox:checked {
        accent-color: #D99374 !important; /* Change this color as desired */
      }
    .cart button span{
        color: #e31b2c;
        margin-left: 10px;
    }
    .cart .product-img {
        height: 115px;
        width: 85px;
    }
    .cart-footer{
        border-top: 1px solid #00000073  !important;
        margin-top: 10px;
    }
    .cart-footer button{
        background: #E69B00;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 9px 30px 9px;
        margin-bottom: 10px;
        border-radius: 2px;
        width: 89%;
        text-align: center;
        /* margin: 0 auto; */
        margin-left: 28px;
    }
    .cart .info-box{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F6F1;
        width: 85%;
        margin: auto;
        padding: 5px;
    }
    .cart .info-box p{
        color: #4C8C4C;
    }
    .cart .info-box img{
        margin-top: 5px;
    }
}

@media (max-width:992px) {

    .navbar .container{
        margin: 0;
        width: 100% !important;
        max-width: 100%;
        flex-wrap: nowrap !important;
    }
    .navbar-brand img{
        height: 35px !important;
    }
    .search-product{
        height: 35px;
    }
}
@media (max-width:767px) {


    .navbar-brand img{
        height: 31px !important;
    }
    .search-product{
        height: 33px;
        width: 75%;
    }
    .search-btn svg {
        font-size: 21px;
    }
}
@media (max-width:500px) {

    .navbar{
        padding: 20px 0 !important;
    }
    .dropdown-menu[data-bs-popper] {
        left: unset !important;
        right: 10px;
        top: 100%;
        margin-top: var(--bs-dropdown-spacer);
    }
}
